table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
#personal {
    height: 50px;
    width: 70%;
}
.tdInfor{
    width: 20%;
    background-color: blue;
}
